version: 3

images:
  base_image:
    name: "rockylinux/rockylinux:10-minimal"
options:
  package_manager_path: /usr/bin/microdnf

additional_build_steps:
  prepend_final:
    - RUN $PKGMGR upgrade -y
    - >-
      RUN if [[ "$PKGMGR" == *"dnf"* ]];then \
          curl -fsSL $(curl -fsSL https://api.github.com/repos/cli/cli/releases/latest | jq -r '(.assets | .[] | select(.browser_download_url | contains("amd64.rpm"))).browser_download_url ') -o gh.rpm && \
          rpm -i gh.rpm && \
          rm gh.rpm; \ 
        fi && \
        if [[ "$PKGMGR" == *"apt"* ]];then \
          curl -fsSL $(curl -fsSL https://api.github.com/repos/cli/cli/releases/latest | jq -r '(.assets | .[] | select(.browser_download_url | contains("amd64.deb"))).browser_download_url ') -o gh.deb && \
          $PKGMGR install -y ./gh.deb && \
          rm gh.deb; \
        fi
dependencies:
  python_interpreter:
    package_system: "python312"
    python_path: "/usr/bin/python3.12"
  ansible_core:
    package_pip: ansible
  ansible_runner:
    package_pip: ansible-runner
  system: "bindep.txt"
  galaxy: "requirements.yml"
  python: "requirements.txt"
