version: 3

images:
  base_image:
    name: "rockylinux/rockylinux:10-minimal"
options:
  package_manager_path: /usr/bin/microdnf

additional_build_steps:
  prepend_builder:
    - >-
      RUN if [[ "$PKGMGR" == *"dnf"* ]];then \
          curl -fsSL https://cli.github.com/packages/rpm/gh-cli.repo > /etc/yum.repos.d/github-cli.repo; \
        fi && \
        if [[ "$PKGMGR" == *"apt"* ]];then \
          curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg > /etc/apt/keyrings/githubcli-archive-keyring.gpg && \
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" > /etc/apt/sources.list.d/github-cli.list; \
        fi
  prepend_final:
    - RUN $PKGMGR upgrade -y
dependencies:
  python_interpreter:
    package_system: "python312"
    python_path: "/usr/bin/python3.12"
  ansible_core:
    package_pip: ansible
  ansible_runner:
    package_pip: ansible-runner
  system: "bindep.txt"
  galaxy: "requirements.yml"
  python: "requirements.txt"
