version: 3

images:
  base_image:
    name: "rockylinux/rockylinux:10-minimal"
options:
  package_manager_path: /usr/bin/microdnf

additional_build_steps:
  prepend_builder:
    - RUN $PKGMGR install jq -y
    - >-
      RUN ASSETS=$(curl -fsSL https://api.github.com/repos/cli/cli/releases/latest | jq -r '.assets') && \
          if [[ "$PKGMGR" == *"dnf"* ]];then \
          curl -fsSL $(echo $ASSETS | jq -r '.[] | select(.browser_download_url | contains("amd64.rpm")) | .browser_download_url ') -o /output/gh.rpm ; \ 
        fi && \
        if [[ "$PKGMGR" == *"apt"* ]];then \
          curl -fsSL $(echo $ASSETS | jq -r '.[] | select(.browser_download_url | contains("amd64.deb")) | .browser_download_url ') -o /output/gh.deb ; \
        fi
  append_final:
    - RUN $PKGMGR update -y && $PKGMGR upgrade -y
    - >-
      RUN if [[ "$PKGMGR" == *"dnf"* ]];then \
          rpm -i /output/gh.rpm ; \ 
        fi && \
        if [[ "$PKGMGR" == *"apt"* ]];then \
          $PKGMGR install /output/gh.deb ; \
        fi
dependencies:
  python_interpreter:
    package_system: "python312"
    python_path: "/usr/bin/python3.12"
  ansible_core:
    package_pip: ansible
  ansible_runner:
    package_pip: ansible-runner
  system: "bindep.txt"
  galaxy: "requirements.yml"
  python: "requirements.txt"
